<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="tech.dev.modele" />
    <!--<context:property-placeholder location="classpath:*.properties" />-->
    <context:property-placeholder location="classpath:villes.properties" />

    <!--constructor-arg init -->
    <bean id="c1" class="tech.dev.modele.Client" >
        <constructor-arg type="java.lang.String" name="nom" value="Vornicu" />
        <constructor-arg type="java.lang.String" name="prenom" value="Daniel" />
        <constructor-arg type="tech.dev.modele.Adresse" name="adresse" ref="adressePrincipale" />
    </bean>

    <!--constructor-arg init -->
    <bean id="c2" class="tech.dev.modele.Client">
        <constructor-arg index="0" value="Vornicu" />
        <constructor-arg index="1" value="Alina" />
        <constructor-arg index="2" ref="adressePrincipale" />
    </bean>

    <!--namespace p init -->
    <bean id="c3" class="tech.dev.modele.Client" p:nom="Vornicu" p:prenom="Luca" p:adresse-ref="adressePrincipale" />

    <!--property init -->
    <bean id="c4" class="tech.dev.modele.Client" >
        <property name="nom" value="Vornicu" />
        <property name="prenom" value="Sofia" />
        <property name="adresse" ref="adressePrincipale" />
    </bean>

    <!--adressePrincipale avec utilisation d'un fichier .properties-->
    <bean id="adressePrincipale" class="tech.dev.modele.Adresse" scope="singleton">
        <property name="id" value="1" />
        <property name="ligne1" value="${adrPrincipale.rue}" />
        <property name="ligne2" value="${adrPrincipale.complement}" />
        <property name="codePostal" value="${villePrincipale.codePostal}" />
        <property name="ville" ref="ville1" />
    </bean>

    <!--ville1 avec utilisation d'un fichier .properties-->
    <bean id="ville1" class="java.lang.String" >
        <constructor-arg  value="${villePrincipale.nom:Ailleurs}"/>
    </bean>

    <!--ville2 avec utilisation d'un fichier .properties-->
    <bean id="ville2" class="java.lang.String" >
        <constructor-arg  value="${villeSecondaire.nom:Ailleurs}"/>
    </bean>

</beans>